@{
    ViewData["Title"] = "Startsidan";
}

<h2>Välkommen!</h2>

<p>Välkomna till BookPortalen! En plats för alla bokälskare att dela med sig av sina tankar om böcker.</p>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registrera konto</h5>
                    <p class="card-text">Skapa ett nytt konto.</p>
                    <a href="/Home/Register" class="btn btn-primary">Registrera konto</a>
                </div>
            </div>

        </div>
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Logga in</h5>
                    <p class="card-text">Logga in med ditt befintliga konto.</p>
                    <a href="/Home/Login" class="btn btn-primary">Logga in</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bläddra bland böcker</h5>
                    <p class="card-text">Utforska vårt utbud av böcker.</p>
                    <a href="/Home/AllBooks" class="btn btn-primary">Bläddra bland böcker</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>